@tailwind base;
@tailwind components;
@tailwind utilities;


/* canvas component global */
.canvas-component {
  overflow: auto !important;
  resize: both !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.canvas-component:active {
  z-index: 1 !important;
}

/* canvas component dark */
.canvas-component-dark:hover {
  background-color: #333 !important;
  color: #f0f0f0 !important;
  box-shadow: 4px 4px 10px #00000066 !important;
}

.canvas-component-dark:active {
  background-color: #333 !important;
  color: #f0f0f0 !important;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4) !important;
  transform: scale(0.98) !important;
}

/* canvas component light */
.canvas-component-light:hover {
  box-shadow: 0 0 8px #007bff !important;
}

.canvas-component-light:active {
  box-shadow: 0 0 8px #007bff !important;
}

/* body {
  @apply bg-gray-900 text-white;
  width:100%;
} */
#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  padding-top: var(--navbar-height);
  padding-bottom: var(--footer-height);
}
.navbar {
  --navbar-height: 64px; /* Example height */
}
.footer {
  --footer-height: 72px; /* Example height */
}
.test{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-panel{
  width: 100%;
  height: 100%;
  background-image: url('./assets/sideimage.svg');
  background-size:cover;
}
.contain{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:50%;
  height:100%;
  background-color:#070133 ;
}
.contain-img-redirect{
  background-color:#070133 ;
  height:100%;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contain{
    display:none;
  }
}
@media (max-width:650px){
  .contain-img-redirect{
    display:none;
  }
  .login-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#070133 ;
  }
  #testimonials{
    display: none;
  }#pricing{
    display: none;
  }
}