version: '3.8'
services:
  backend:
    build:
      context: ./server
    env_file:
      - ./server/.env
    ports:
      - "4000:4000"
    networks:
      - app-network

  frontend:
    build:
      context: ./client
    env_file:
      - ./client/.env
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
