.modal-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
.modal-sidebar {
  width: 25%;
}
.active-tab {
  font-weight: bold;
}
.modal-main {
  width: 75%;
}
