.left-social-sidebar {
  height: auto;
  min-height: 100vh;
}
.ChatLeftBar {
  width: 30vw;
  min-width: 300px;
}
.ChatSearchBar {
  width: 95%;
}
.leftSideChatBar {
  height: auto;
  max-height: 76.5vh;
}
.leftSideChatBar::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.leftSideChatBar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background of the scrollbar track */
  border-radius: 10px; /* Optional: Adds rounded corners to the scrollbar track */
}

.leftSideChatBar::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Optional: Adds rounded corners to the scrollbar thumb */
}

.leftSideChatBar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change color when hovered */
}

.ChatMessageList {
  max-height: 100%;
}
/* Custom Scrollbar styles */
.scrollbar_edit {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #8b8b8b #f1f1f1; /* Firefox */
}

.scrollbar_edit::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar_edit::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.scrollbar_edit::-webkit-scrollbar-thumb {
  background-color: #dce8f6; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #f1f1f1; /* Border around the thumb */
}

.scrollbar_edit::-webkit-scrollbar-thumb:hover {
  background-color: #444444; /* Color of the thumb when hovered */
}

.NoSrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
